h1 {
    position:relative;
    text-align: center;
    font-family: "despina-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: white;
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
  
  button {
    position: relative;
    padding: 0;
    border: none;
    background:none;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:22px;
    color: white;
}

button:hover {
color: #99D758;
}

Video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.me {
    display: flex;
    position: relative;
    text-align: center;
    color: white;   
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal; 
    font-size: 18px;
    margin: auto;
    padding: 13% 0;
    width: 60%;
    height: 100%;
    flex-direction: column;
}

.section-one {
    padding: 20px;
    display: flex;
    height: auto;
    flex: 1 1 auto;
    text-align: center;
}

.section-typo {
    padding: 20px;
    display: flex;
    height: auto;
    flex: 1 1 auto;
    text-align: center;
}

.posters {
    width:100%;
    margin: 5px;
}

.section-typo2 {
    padding: 20px;
    display: flex;
    height: auto;
    flex: 1 1 auto;
    text-align: center;
}

.posters img {
    width: 100%;
    border: 3px;
    padding:5px;
}

.caption {
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:16px;
    color: white;
}

.hposter {
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:34px;
    color: white;
    }

footer {
    background-color: black;
    text-align: center;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:10px;
    color: white; 
}

.which-page {
    position: relative;
    padding: 0;
    border: none;
    background:none;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:22px;
    color:#99D758;
}