h1 {
    position:relative;
    text-align: center;
    font-family: "despina-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: white;
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
  
  button {
    position: relative;
    padding: 0;
    border: none;
    background:none;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:22px;
    color: white;
}

button:hover {
color: #99D758;
}

Video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.me {
    display: flex;
    position: relative;
    text-align: center;
    color: white;   
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal; 
    font-size: 18px;
    margin: auto;
    padding: 13% 0;
    width: 60%;
    height: 100%;
    flex-direction: column;
}
 
a {
    background-color: black;
    padding: 16px 32px;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:18px;
    color: white;
    
}

.section-one {
    padding: 20px;
    display: flex;
    height: auto;
    flex: 1 1 auto;
    text-align: center;
}

.section-coding {
    padding: 20px;
    display: flex;
    height: auto;
    flex: 1 1 auto;
    text-align: center;
}

.section-two {
    padding: 20px;
    display: flex;
    height: auto;
    flex: 1 1 auto;
    text-align: center;
}

.section-three {
    padding: 20px;
    display: flex;
    height: auto;
    flex: 1 1 auto;
    text-align: center;
}

.bigcaption {
    background-color: black;
    border-radius: 3%;
    padding: 16px 32px;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:24px;
    color: white;
    
}


.reflection {
    display: flex;
    position: relative;
    text-align: center;
    padding: 16px 32px;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:24px;
    color: white;
    margin: auto;
    padding: 13% 0;
    width: 60%;
    height: 100%;
    flex-direction: column;
}



.section-typo {
    padding: 20px;
    display: flex;
    height: auto;
    flex: 1 1 auto;
    text-align: center;
}

.posters {
    width:100%;
    margin: 5px;
}

.posters img {
    width: 100%;
    border: 3px;
    padding:5px;
    border-radius: 2%;
}

.container {
    position: relative;
    width:100%;
    margin:5px;
}

h2 {
    text-align: center;
    font-family: "despina-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: white;
    
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #be199d;
    padding: 16px 32px;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:16px;
    color: white;
  }


/*
.tposters {
    width:50%;
    position: relative;
    margin: 5px;
}



.tposters:hover .description {
    opacity: 1;
}
.tposters:hover img {
    width: 100%;
    border: 3px;
    padding:5px;
    opacity: 0.3;
}

.tposters img {
    width: 100%;
    border: 3px;
    padding:5px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
/*
.typotitle {
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:34px;
    color: white;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.middle {
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.typotitle {
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:34px;
    color: white;
    }


.description {

   
    background-color: #c252a2;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:16px;
    color: white;
    

    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:34px;
    color: white;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}
*/

.typotitle {
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:34px;
    color: white;
    }

.cposters {
    width:100%;
    margin: 5px;
}

.cposters img {
    width: 50%;
    border: 3px;
    padding:5px;
    border-radius: 4%;
}

.section-typo2 {
    padding: 20px;
    display: flex;
    height: auto;
    flex: 1 1 auto;
    text-align: center;
}



.caption {
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:16px;
    color: white;
}

.codingheading {
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:50px;
    color: white;
    }

.hposter {
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:34px;
    color: white;
    }

footer {
    background-color: black;
    text-align: center;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:10px;
    color: white; 
}

.which-page {
    position: relative;
    padding: 0;
    border: none;
    background:none;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:22px;
    color:#99D758;
}