h1 {
    position:relative;
    text-align: center;
    font-family: "despina-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: white;
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
  
  button {
    position: relative;
    padding: 0;
    border: none;
    background:none;
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:22px;
    color: white;
}

button:hover {
color: #99D758;
}

Video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.me {
    display: flex;
    position: relative;
    text-align: center;
    color: white;   
    font-family: "forma-djr-display", sans-serif;
    font-weight: 600;
    font-style: normal; 
    font-size: 18px;
    margin: auto;
    padding: 13% 0;
    width: 60%;
    height: 100%;
    flex-direction: column;
}

.section-one {
    background: none;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 30px;
    vertical-align: middle;
    align-items: left;
}

.posters {
    padding:10%;
    min-width: 150px;
    max-width: 400px;
}

